@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

/**
//* Mobile
*/
@mixin maxW-Phone {
  @media screen and (max-width: $phoneMax) {
    @content;
  }
}

@mixin minW-Phone {
  @media screen and (min-width: $phoneMin) {
    @content;
  }
}

/**
//* Tablet
*/

@mixin maxW-Tablet {
  @media screen and (max-width: $tabletMax) {
    @content;
  }
}

@mixin minW-Tablet {
  @media screen and (min-width: $tabletMin) {
    @content;
  }
}

/**
//* Desktop
*/

@mixin maxW-Dt {
  @media screen and (max-width: $desktopMax) {
    @content;
  }
}

@mixin minW-Dt {
  @media screen and (min-width: $desktopMin) {
    @content;
  }
}

// використання
// зміна кольору коли екран більше 1200px
// .test-class {
//     color: #fff;

//     @include minW-Dt {
//         color: #000;
//     }
// }

/////////////////////////////

/**
//* Custom media
*/

@mixin minW($widthValue) {
  @media screen and (min-width: $widthValue) {
    @content;
  }
}

@mixin maxW($widthValue) {
  @media screen and (max-width: $widthValue) {
    @content;
  }
}

// використання Custom media
// .test-class {
//     color: #fff;

//     @include minW(1366px) {
//         color: #000;
//     }
// }

@mixin btn-order () {
  width: 384px;
  height: 64px;
  background: $secondary-color;
  color: $contrast-color;
  border: 1px solid $accent-color;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $secondary-color;
      background-color: $accent-color;
    }
}

@mixin btn-service () {
  width: 236px;
  height: 48px;
  background: $secondary-color;
  color: $accent-color;
  border: 2px solid $contrast-color;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  
    &:hover,
    &:focus {
      cursor: pointer;
      color: $accent-color;
      background-color: $contrast-color;
      border: 2px solid $accent-color;
    }
}

// міксин для фону (ретина)
@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}