%btn-order {
    width: 384px;
    // height: 64px;
    background: $secondary-color;
    color: $contrast-color;
    border: 1px solid $accent-color;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    transition: color 250ms $cubic, background-color 250ms $cubic;
  
      &:hover,
      &:focus {
        cursor: pointer;
        color: $secondary-color;
        background-color: $accent-color;
      }
  }
  
  %btn-service {
    width: 236px;
    // height: 48px;
    background: $secondary-color;
    color: $accent-color;
    border: 2px solid $contrast-color;
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    transition: color 250ms $cubic, background-color 250ms $cubic;
    
      &:hover,
      &:focus {
        cursor: pointer;
        color: $accent-color;
        background-color: $contrast-color;
        border: 2px solid $accent-color;
      }
  }