<ul class="social">
  <li class="social__item">
    <a class="social__link" href="http://www.instagram.com" target="_blank" rel="noopener noreferrer">
      <svg class="social__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="http://www.facebook.com" target="_blank" rel="noopener noreferrer">
      <svg class="social__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="https://web.telegram.org" target="_blank" rel="noopener noreferrer">
      <svg class="social__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-telegram"></use>
      </svg>
    </a>
  </li>
</ul>
