<div class="modal book-table-modal" data-modal="1">
  <button type="button" class="modal__close-btn js-modal-close" data-modal="1">
    <svg class="close__icon" width="24" height="24">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <form class="form-table">
    <h2 class="modal__title">ЗАБРОНЮВАТИ СТОЛИК</h2>
    <div class="form-table__field">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Ваше ім’я"
        class="form-table__input modal__input"
      />
      <label for="name" class="form-table__label modal__label">На кого забронювати столик?</label>
    </div>
    <div class="form-table__field">
      <input
        type="tel"
        name="tell"
        id="tell"
        placeholder="+38 (___) ___-__-__"
        class="form-table__input js-inputmask modal__input"
      />
      <label for="tell" class="form-table__label modal__label">Номер телефону</label>
    </div>
    <div class="form-table__field">
      <select id="number" name="number" class="form-table__select js-select">
        <option value="1" class="form-table__option">1</option>
        <option value="2" class="form-table__option" selected>2</option>
        <option value="3" class="form-table__option">3</option>
        <option value="4" class="form-table__option">4</option>
        <option value="5+" class="form-table__option">5+</option>
      </select>
      <label for="number" class="form-table__label modal__label"
        >Столик на яку кількість осіб?</label
      >
    </div>
    <div class="form-table__field">
      <select id="date" name="date" class="form-table__select js-select">
        <option value="today" class="form-table__option" selected>Сьогодні</option>
        <option value="31.01.2023" class="form-table__option">31.01.2023</option>
        <option value="01.02.2023" class="form-table__option">01.02.2023</option>
        <option value="02.02.2023" class="form-table__option">02.02.2023</option>
        <option value="03.02.2023" class="form-table__option">03.02.2023</option>
      </select>
      <label for="date" class="form-table__label modal__label">На яку дату бронювати?</label>
    </div>
    <button class="modal-form__btn button button-modal" type="submit">оформити бронювання</button>
  </form>
</div>
