<div class="room-price-modal modal" data-modal="3">
    <button type="button" class="modal__close-btn js-modal-close">
      <svg width="24px" height="24px" class="modal__close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="form-price">
      <h2 class="form-price__title">ціни на номер</h2>
      <span class="form-price__category">Двомісний люкс</span>
      <div class="form-price__field">
        <p class="form-price__label">Категорія номеру</p>
  
       
      <label for="js-select">Кількість ночей</label>
      <select name="nights" class="js-select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
      </select>
  <label for="price">грн</label>
  <input type="text" name="" id="">
  
  </label>
  
  </div>
    </form>
  </div>
  
