<div class="room-price-modal modal" data-modal="3">
  <button type="button" class="modal__close-btn js-modal-close">
    <svg width="24px" height="24px" class="modal__close-icon">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <form class="form-price">
    <h2 class="modal__title  form-price__title">ціни на номер</h2>
    <span class="form-price__category">Двомісний люкс</span>
    <p class="form-price__label modal__label">Категорія номеру</p>
    <div class="form-price__block">
      <div class="form-price__field">
        <select name="nights" class="form__select list-select js-select" id="nights">
          <option value="1 000">1</option>
          <option value="2 000">2</option>
          <option value="3 000">3</option>
          <option value="4 000">4</option>
          <option value="5 000">5</option>
          <option value="6 000">6</option>
          <option value="7 000">7</option>
          <option value="8 000">8</option>
          <option value="9 000">9</option>
          <option value="10 000">10</option>
          <option value="11 000">11</option>
          <option value="12 000">12</option>
          <option value="13 000">13</option>
          <option value="14 000">14</option>
          <option value="15 000">15</option>
          <option value="16 000">16</option>
          <option value="17 000">17</option>
        </select>
        <label for="nights" class="form-price__label modal__label">Кількість ночей</label>
      </div>
      <div class="form-price__field form-price__field--left">
        <input
          type="text"
          name="price"
          id="price"
          class="list-select-result form-select__input modal-input"
          readonly
        />
        <label for="price" class="form-price__label modal__label">грн</label>
      </div>
    </div>
    <button class="modal-form__btn button button-modal form-price__btn" type="submit">забронювати номер</button>
  </form>
</div>
