    <header class="header">
        <!-- <div class="container"> -->
            <div class="header__container container">
                <a href="" class="logo" lang="en">Mimiho</a>
                <nav class="nav">
                    <a class="nav__link" href="">Ресторан</a>
                    <a class="nav__tel" href="tel:+380955559533">
                        <svg class="nav__icon" width="24" height="24">
                            <use href="./images/icons.svg#icon-tel"></use>
                        </svg>  
                        <span class="nav__hidden">095 555 95 33</span> 
                    </a>
                    <a class="nav__link" href="">Готель</a>
                    <a class="nav__tel" href="tel:+380668491089">
                        <svg class="nav__icon" width="24" height="24">
                            <use href="./images/icons.svg#icon-tel"></use>
                        </svg> 
                        <span class="nav__hidden">066 849 10 89</span>
                    </a>
                </nav>
                <ul class="social header__social">
                    <li class="social__item">
                        <a class="social__link" href="http://" target="_blank" rel="noopener noreferrer">
                            <svg class="social__icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="http://" target="_blank" rel="noopener noreferrer">
                            <svg class="social__icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="https://" target="_blank" rel="noopener noreferrer">
                            <svg class="social__icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        <!-- </div> -->
    </header>