<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo">
      <a href="/src/index.html" lang="en" class="logo logo--footer">Mimino</a>
    </div>
    <div class="footer__nav">
      <div>
        <ul class="list footer__links">
          <li class="item">
            <a href="/src/index.html" lang="uk" class="link">Головна</a>
          </li>
          <li class="item">
            <a href="/src/restaurant.html" lang="uk" class="link">Ресторан</a>
          </li>
          <li class="item">
            <a href="/src/hotel.html" lang="uk" class="link">Готель</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="list social footer-social">
          <li class="social__item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="link footer-social__link"
            >
              <span class="footer-social__name">Instagram </span>
              <svg class="social__icon" width="24px" height="24px">
                <use href="/src/images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="link footer-social__link"
            >
              <span class="footer-social__name">Facebook</span>
              <svg class="social__icon" width="24px" height="24px">
                <use href="/src/images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://web.telegram.org"
              target="_blank"
              rel="noopener noreferrer"
              class="link footer-social__link"
            >
              <span class="footer-social__name">Telegram</span>
              <svg class="social__icon" width="24px" height="24px">
                <use href="/src/images/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
