<header class="header">
  <div class="header__container container"> 
    <a href="./index.html" class="logo header__logo">Mimiho</a>
    <nav class="nav">
      <a class="nav__link" href="./restaurant.html">Ресторан</a>
      <a class="nav__tel" href="tel:+380955559533">
        <svg class="nav__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-tel"></use>
        </svg>
        <span class="nav__hidden">095 555 95 33</span>
      </a>
      <a class="nav__link" href="./hotel.html">Готель</a>
      <a class="nav__tel" href="tel:+380668491089">
        <svg class="nav__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-tel"></use>
        </svg>
        <span class="nav__hidden">066 849 10 89</span>
      </a>
    </nav>
    <include src="./partials/blocks/icons.html"></include>
    <include src="./partials/blocks/address.html"></include>
  </div>
</header>
