// кнопка бронювання номеру
.button {
    @extend %btn-order;

    // @include minW-Phone {
        padding-top: 20px;
        padding-bottom: 20px;
        // padding: 20px auto;
    // }

    @include minW-Tablet {
        width: 434px;
        font-size: 24px;
    }
}


// кнопка бронювання номеру, столика (модалка)
.button-modal {
    @extend %btn-order;
    border-radius: 0px;

    @include minW-Tablet {
        width: 592px;
    }
}


// кнопка сервісних служб (переглянути ціни, детальніше, забронювати столик)
.button-service {
    @extend %btn-service;
    padding-top: 14px;
    padding-bottom: 14px;
}


// кнопка сервісних служб для HERO
.button-hero {
    @extend %btn-service;
    background-color: $button-opacity-bg;

    // @include minW-Phone {
        width: fit-content;
        padding: 14px 24px;
    // }

    // @include minW-Phone {
        // padding: 14px auto;
        padding-top: 14px;
        padding-bottom: 14px;
    // }

    @include minW-Dt {
        padding: 14px 35px;
    }
}


// кнопки на сторінці homePage, details
.button-home {
    @extend %btn-service;
    background-color: $button-opacity-bg;
}


// стрілки для слайдера
.arrows {
    display: flex;
    gap: 32px;

    &__button {
        width: 32px;
        height: 32px;
        padding: 0;
        border: none;
        background-color: transparent;
    
        &:hover,
        &:focus {
            .icon-arrow {
                fill: $accent-color;
            }
        }
    }
}

// стрілки для слайдера (білі) для HERO
.arrow-home {
    fill: $contrast-color;
}


// для посилань у вигляді кнопки
.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
