.logo {
  font-family: 'FilmP3', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: $logo-color;
//   text-align: end;
//   transform: translateX(0.3em);

  @include minW-Tablet {
    font-size: 64px;
    line-height: 1.08;
  }

  &--white {
    // text-align: end;
    // transform: translateX(0.3em);
    color: $contrast-color;
  }

  &--footer {
    color: $accent-color;
  }
}

.header__logo {
  margin-right: auto;
  font-size: 36px;
  line-height: 1.08;
  color: $contrast-color;

  @include minW-Tablet {
    font-size: 40px;
    line-height: 1.075;
  }

  @mixin minW-Dt {
    font-size: 30px;
  }
}
