
//ABOUT-REASTAURANT-SLIDER 

.swiper-about-container {
    margin-top: 32px;
    margin-left: auto;
    min-height: 245px;
    max-width: 305px;
    
    @include maxW-Phone {
        min-height: 245px;
        max-width: 305px;
    }

    @include minW-Tablet {
        margin-top: -80px;
        min-height: 194px;
        max-width: 428px;
    }

    @include minW-Dt {
        margin-top: -140px;
        min-height: 254px;
        max-width: 548px;
    }

    // .swiper{
    //     overflow: visible;

    //     @include maxW-Phone{
    //         overflow: hidden;
    //     }
    // }


    .swiper-about__buttons {
        display: flex;
        justify-content: flex-end;
        gap: 32px;
        height: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about-btn-prev {
        transform: translateY(0);
            // position: static;
            position: relative;
            width: 32px;
            height: 32px;
            border: none;
            padding: 0;
            background-color: transparent;
            color: $secondary-color;
        
            & svg {
                fill: currentColor;
            }
    }

    .about-btn-prev::after {
        content: "";
    }

    .about-btn-next {
        transform: translateY(0);
        // position: static;
        position: relative;
        width: 32px;
        height: 32px;
        border: none;
        padding: 0;
        background-color: transparent;
        color: $secondary-color;

        & svg {
            fill: currentColor;
        }
    }

    .about-btn-next::after {
        content: "";
    }
}







// DETAILS-SLIDER
.swiper {
    z-index: 0;
}


.swiper-and-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;

    @include minW-Tablet{
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 29px ;
    }

    @include minW-Dt{
        gap: 32px;
    }
}

.swiper-details-container{
    width: 100%;

    @include maxW-Phone {
        width: auto;
        max-width: 414px;
    }

    @include minW-Tablet{
        min-width: 608px;
        max-width: 759px;
    }

    @include minW-Dt{
        max-width: 1012px;
    }


}
.swiper-details__slide{
    width: 270px;
}
.swiper-details__slide img{
    width: 270px;
}

.swiper-details__buttons{
    display: flex;
    gap: 32px;
    height: 32px;
    margin-top: 16px;
}

.details-btn-prev  {
    transform: translateY(0);
    // position: static;
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    background-color: transparent;
    color: $contrast-color;

    & svg{
        fill: currentColor;
    }
}

.details-btn-prev::after{
    content: "";
}

.details-btn-next  {
    transform: translateY(0);
    // position: static;
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    background-color: transparent;
    color: $contrast-color;

    & svg{
        fill: currentColor;
    }
}
.details-btn-next::after{
    content: "";
}
