.about {
    background-color: $primary-background;
   
        &__img--content1 {
        display: flex;
        @include maxW-Tablet {
            flex-direction: column;
            gap: 28px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 16px;

        @include minW-Tablet {
            margin-right: 0;
            max-width: 439px;
            padding-top: 120px;
        }
        @include minW-Dt {
            max-width: 518px;
        }
    }
    &__subtitle {
        @include font(TimesNewRoman, TimesNewRoman, 400, normal);
        font-size: 20px;
        line-height: 1.15;
        color: $span-color;

    @include minW-Tablet {
        font-size: 32px;
        line-height: 1.16;
    }

    }
    &__text {
        @include font(Montserrat, montserrat600, 600, normal);
        max-width: 258px;
        font-size: 12px;
        line-height: 1.25;
        color: $primary-color;
       
        @include minW-Tablet {
            max-width: 439px;
           font-size: 16px; 
        }
        @include minW-Dt {
            max-width: 518px;
        }
    }
    &__text--modif {
        max-width: 163px;
        @include font(Montserrat, montserrat600, 600, normal);
        font-size: 12px;
        line-height: 1.25;
        color: $accent-color-second;

        @include minW-Tablet {
            max-width: 312px;
           font-size: 16px; 
        }

    }
    &__img--foto1 {
        display: flex;
        align-self: flex-end;
        margin-right: 15px;
        max-width: 244px;
        max-height: 322px;
        width: 100%;
        height: 100%;
        box-shadow: $img-shadow;

        @include minW-Tablet {
            display: flex;
            max-width: 400px;
            max-height: 524px;
            // margin-top: -32px;
            margin-left: 26px;
            transform: translateY(-32px);
        }
        @include minW-Dt {
            max-width: 460px;
            max-height: 574px;
            margin-left: 37px;
        }
    }
    &__img--content2 {
        display: flex;
        flex-wrap: wrap;
        padding-top: 32px;
        gap: 20px;
        align-items: center;

        @include minW-Tablet {
            padding-top: 0;
            transform: translateY(-50px);
        }
        @include minW-Dt {
            transform: translateY(-100px);
        }
    }
    &__img--foto2 {
        max-width: 200px;
        max-height: 278px;
        width: 100%;
        height: 100%;
        box-shadow: $img-shadow;
        
        @include minW-Tablet {
            max-width: 350px;
            max-height: 500px;
        }
        @include minW-Dt {
            max-width: 460px;
            max-height: 574px;  
        }
    }  
}
.swiper-about {
    margin-top: 32px;
    margin-left: 84px;
    max-width: 330px;

    @include minW-Tablet {
        margin-top: 154px;
        margin-left: 139px;
        max-width: 428px;
       
    }
    @include minW-Dt {
        margin-top: 119px;
        margin-left: 102px;
        max-width: 654px;
        
    }
}
