// Details-rest
// .container {
//   padding: 0 $paddingPhone;
//   width: 100%;
//   margin: 0 auto;

//   @include minW-Tablet {
//     padding: 0 $paddingTablet;
//   }

//   @include minW-Dt {
//     padding: 0 $paddingDt;
//   }
// }

.details-container{
  padding-right: 0;

  @media screen and (min-width:540px) {
    padding-right: $paddingPhone ;
  }

  @include minW-Tablet{
    padding-right: $paddingTablet;

  }
}

.details-container {
  overflow: hidden;
}


// .details-rest.details-container {
//   padding-right: 0;
//   @include minW-Tablet {
//     padding-right: $paddingTablet;
//   }
// }

// .details-hotel .details-container {
//   padding-left: 0;
//   @include minW-Tablet {
//     padding-left: $paddingTablet;
//   }
// }

.details-rest {
  position: relative;
  background-color: rgb(99, 95, 95);
  // width: 100vw;
  height: 735px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/home-page/details-rest/backgroung-mob.jpg);

  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/home-page/details-rest/backgroung-mob2x.jpg);
  }

  @include minW-Tablet {
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/home-page/details-rest/background-tab.jpg);

    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/home-page/details-rest/background-tab2x.jpg);
    }
  }

  @include minW-Dt {
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/home-page/details-rest/background-desk.jpg);

    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/home-page/details-rest/background-desk2x.jpg);
    }
  }
}

.details-block {
  @include minW-Dt {
    padding-top: 48px;
  }

  @include minW-Tablet {
    margin: 0;
    margin-left: 278px;
    max-width: none;
  }

  max-width: 243px;
  margin: 0 auto;
  padding-top: 24px;

  &__title {
    @include minW-Tablet {
      font-size: 24px;
    }

    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: $contrast-color;
    padding-top: 12px;
  }

  &__text {
    @include minW-Tablet {
      font-size: 16px;
      padding: 8px 0 40px;
    }

    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $contrast-color-descr;
    padding: 20px 0 48px;
  }
}

.details-btn-prev {
  @include minW-Dt {
    cursor: pointer;
  }

  background-color: transparent;
  outline: none;
  cursor: none;
  border: none;
}

// Details hotel
.details-hotel {
  position: relative;
  // width: 100vw;
  height: 735px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/home-page/details-hotel/backgroung-mob.jpg);

  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/home-page/details-hotel/backgroung-mob2x.jpg);
  }

  @include minW-Tablet {
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/home-page/details-hotel/backgroung-tab.jpg);

    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/home-page/details-hotel/backgroung-tab2x.jpg);
    }
  }

  @include minW-Dt {
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/home-page/details-hotel/background-desk.jpg);

    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/home-page/details-hotel/background-desk2x.jpg);
    }
  }
}

.details-block-hotel {
  @include minW-Dt {
    padding-top: 48px;
    // margin-right: 253px;
    max-width: 595px;
    margin: 0 auto;
  }

  @include minW-Tablet {
    margin: 0;
    transform: translateX(231px);
    // margin-right: 231px;
    min-width: 549px;
  }

  max-width: 243px;
  margin: 0 auto;
  padding-top: 24px;

  &--logo {
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    transform: translateX(0.3em);
  }

  &__title {
    @include minW-Tablet {
      font-size: 24px;
    }

    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: $contrast-color;
    padding-top: 12px;

    display: flex;
    flex-direction: row-reverse;
  }

  &__text {
    // @include minW-Dt {
    //   margin-left: 237px;
    // }

    @include minW-Tablet {
      font-size: 16px;
      padding: 8px 0 40px;
    }

    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $contrast-color-descr;
    padding: 20px 0 48px;
    // margin-left: 20px;
  }
}

.details-btn-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include minW-Tablet {
    margin: auto 0 0 0;
  }
}

.button-service__details {
  margin-bottom: 16px;
}

//sliders
.details-hotel .swiper-and-buttons-container {
  padding-right: 40px;
  padding-left: 0;
  @include minW-Tablet{
      flex-direction: row;
      padding-left: 0;
      padding-right: $paddingTablet;
}
}

.details-hotel .swiper {
  flex-direction: row-reverse;
}