.container {
  padding: 0 $paddingPhone;
  width: 100%;
  margin: 0 auto;

  @include minW-Tablet {
    padding: 0 $paddingTablet;
  }

  @include minW-Dt {
    padding: 0 $paddingDt;
  }
}

.details-hotel {
  position: relative;

  display: block;
  z-index: 1;
  //   width: 100vw;
  // width: 414px;
  height: 735px;
  padding-top: 24px;
  //   padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/home-page/details-hotel/backgroung-mob.jpg);

  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/home-page/details-hotel/backgroung-mob2x.jpg);
  }

  @include minW-Tablet {
    height: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/home-page/details-hotel/backgroung-tab.jpg);

    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/home-page/details-hotel/backgroung-tab2x.jpg);
    }
  }

  @include minW-Dt {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/home-page/details-hotel/background-desk.jpg);

    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/home-page/details-hotel/background-desk.jpg);
    }
  }
}

.details-block-hotel {
  @include minW-Tablet {
    top: 48px;
    right: 278px;
  }

  @include minW-Dt {
    right: 338px;
  }

  position: absolute;
  top: 24px;
  left: 143px;
  // margin: 0 auto;
  text-align: end;
}

.details-title {
  @include minW-Tablet {
    font-size: 24px;
  }

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: $contrast-color;
  padding-top: 12px;
}

.details-block-text {
  @include minW-Tablet {
    max-width: 549px;
    top: 156px;
    left: 198px;
    // padding: 0;
  }

  @include minW-Dt {
    left: 400px;
  }

  position: absolute;
  top: 123px;
  left: 32px;
  max-width: 243px;
  // padding-left: 32px;
}

.heading__text {
  @include minW-Dt {
  }

  @include minW-Tablet {
    font-size: 16px;
    padding: 8px 0 40px;
  }

  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $contrast-color-descr;
  //   padding: 20px 0 48px;
}

.details-btn-hotel {
  @include minW-Dt {
    bottom: 414px;
    right: 85px;
  }

  @include minW-Tablet {
    position: absolute;
    bottom: 96px;
    right: 47px;
  }

  display: flex;
  flex-direction: column;
  max-width: 236px;
  padding-top: 80px;
}

.swiper-slide-dr {
  display: flex;
  overflow: hidden;
}

.img-details-hotel {
  @include minW-Tablet {
    padding-top: 254px;
    justify-content: start;
  }

  display: flex;
  justify-content: center;
  padding-top: 233px;
}
