.footer {
    background-color: $footer-background;
    padding-top: 40px;
    padding-bottom: 40px;

    @include minW-Tablet {
        padding-top: 80px;
        padding-bottom: 80px;
        max-height: 304px;
    }
 
    &__logo {
        margin-left: 44px;
        @include minW-Tablet {
        margin-left: 107px;
        }

        @include maxW-Phone {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // @include minW(600px) {
        //     justify-content: space-around;
        // }
        @include minW-Tablet {
            max-width: 1024px;
            justify-content: flex-start;
        }

        @include minW-Dt {
            max-width: 1280px;
        }

    }
    &__links{
        margin-bottom: 33px;
        gap: 16px;
        display: flex; 
        flex-direction: column;
            
        @include minW-Tablet {
            margin-bottom: 0;
            margin-left: 163px;
            margin-right: 137px;
        }
        @include minW-Dt {
            margin-left: 231px;
            margin-right: 199px;
        }
        
        & > .item{
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 20px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            color: $accent-color;
                &:hover,
                &:focus {
                    color: $accent-color-second;
                    transition: color 250ms $cubic;
                }
        }
    }
    &__nav {
        margin-right: 18px;
        @include minW-Tablet {
            display: flex;
        }
    }
}

.footer-social {
    // display: flex;
    // gap: 20px;
    @include minW-Tablet {
        flex-direction: column-reverse;
        gap: 12px;
    }

    &__link {
        display: flex;
        align-items: center;
        color: $accent-color;
        &:hover,
        &:focus {
            color: $accent-color-second;
            border: 0.5px solid $accent-color-second;
                // color: $accent-color-second; color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transition: border 250ms $cubic;

            @include maxW-Tablet {
                border: none;
            }
        }

        @include minW-Tablet {
            padding: 8px 12px;
            border: 0.5px solid $accent-color;
            border-radius: 2px;
            max-height: 40px;
        }
           
    }
    &__name {
        margin-right: 12px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        // color: $accent-color;
            &:hover,
            &:focus {
                color: $accent-color-second;
                transition: color 250ms $cubic;
            }
        @include maxW-Tablet{
            display: none;
        }
    }
}