.header__container {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
  padding-left: $paddingPhone;
  padding-right: $paddingPhone;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //   min-height: 100px;
  @include minW-Tablet {
    top: 24px;
    padding-left: $paddingTablet;
    padding-right: $paddingTablet;
  }

  @include minW-Dt {
    padding-left: $paddingDt;
    padding-right: $paddingDt;
  }
}

.nav {
  display: flex;
  align-items: center;

  @include maxW-Phone {
    flex-wrap: wrap;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $accent-color;
    margin-right: 6px;
    transition: color 250ms $cubic;

    @include maxW-Phone {
      font-size: 14px;
      margin-right: 0;
    }

    @include minW-Tablet {
      font-size: 20px;
      line-height: 1.2;
      margin-right: 32px;
    }

    &:hover, &:focus {
      color: $accent-color-second;
    }
  }

  &__tel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: $contrast-color;

    margin-right: 20px;

    @include maxW-Phone {
      margin-right: 10px;
    }

    @include minW-Tablet {
      padding: 8px;
      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
      margin-right: 72px;
   }

   &:hover {
    @include minW-Tablet{
      border-color: $accent-color-second;
    }
  }

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    fill: $accent-color;
    transition: color 250ms $cubic;

    .nav__tel:hover & {
      fill: $accent-color-second;
    }


  }

  &__hidden {
    display: none;

    @include minW-Tablet {
      display: block;
    }
  }
}

.header .social {
  margin-left: auto;

  @include maxW-Dt {
    display: none;
  }
}

.header .address {
  position: absolute;
  z-index: 100;
  top: 65px;
  right: $paddingPhone;

  @include minW-Tablet {
    display: none;
  }
}
