// .hero__container {
//     position: relative;
//     padding-bottom: 102px;
// }


.hero-background__home {
    background-image: $gradient,
        url(../images/home-page/hero/background-desk.jpg);

    @include retina {
        background-image: $gradient,
            url(../images/home-page/hero/background-desk2x.jpg);
    }
}
.hero-background__hotel {
    background-image: $gradient,
        url(../images/hotel-page/hero/background-desk.jpg);

    @include retina {
        background-image: $gradient,
            url(../images/hotel-page/hero/background-desk2x.jpg);
    }
}
.hero-background__rest {
        background-image: $gradient,
        url(../images/rest-page/hero/backgroung-desk.jpg);

    @include retina {
        background-image: $gradient,
            url(../images/rest-page/hero/backgroung-desk2x.jpg);
    }
}

.hero-background {
    position: relative;
    height: 740px;
    padding-top: 181px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

@include minW-Tablet {
    height: 720px;
    padding-top: 188px;
}
@include minW-Dt {
    padding-top: 164px;
}


}
.hero-text {
    overflow: hidden;
    color: $contrast-color;
    text-align: center;
    font-style: normal;
&__name {
    font-family: FilmP3;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    transform: translateX(0.15em);
@include minW-Tablet {
    font-size: 128px;
    }

    @include maxW-Phone {
        font-size: 80px;
    }
}
&__location {
    margin: 24px 0 40px 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
@include minW-Tablet{
    margin: 16px 0 56px 0;
    font-size: 20px;
    line-height: 1.2;
    }
@include minW-Dt {
    margin: 32px 0 64px 0;
    }
}
&__moto {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.15;
    letter-spacing: 0.05em;

    @include maxW-Phone {
        font-size: 28px;
    }
}
}
.address-frame {
    display: none;
@include minW-Tablet {
    position: absolute;
    top: 64px;
    right: 15px;
    display: flex;
    align-items: center;
    width: 210px;
    height: 47px;
    border: 1px solid $accent-color;
    border-radius: 2px;
    width: 285px;
    height: 56px;
    left: 47px;
    top: 600px;
}
@include minW-Dt {
    left: 85px;
}
&__icon {
    fill: $accent-color;
    margin: auto 4px auto 1px;
    width: 20px;
    height: 32px;
    
@include minW-Tablet {
    width: 24px;
    height: 40px;
    margin: auto 6px auto 6px;
}
}
&__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: $address-color;
@include minW-Tablet {
    font-size: 16px;
    }
}
}
.hero-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    margin-top: 113px;
@include minW-Tablet {
    position: absolute;
    right: 47px;
    bottom: 64px;
    flex-direction: row;
    gap: 40px;
}
@include minW-Dt {
    right: 85px;
    gap: 60px;
}   
}
.hero-socials{
    position: absolute;
    left: 16px;
    bottom: 21px;
@include minW-Tablet {
    left: 48px;
    bottom: 16px;
}
@include minW-Dt {
    display: none;
    top: 41px;
    right: 88px;
    left: auto;

}
}
.button-service--hero {
    @include minW-Dt {
        width: 258px;
    }
}