// Для Свайпера
.luxe-container{
    @include maxW(540px) {
      padding-left: 0;
    }
}

.flex-container {
  @include minW-Tablet {
    display: flex;
    justify-content: space-between;
  }
}

.two-bed-container{
  @include maxW(540px) {
    padding-right: 0;
  }
}

.three-bed-container{
  @include maxW(540px) {
    padding-left: 0;
  }
}
// 
.rooms {
  background-color: $primary-background;
  padding-bottom: 32px;

  @include maxW-Tablet {
    overflow: hidden;
  }
}

.rooms--colorfix {
  background-color: $secondary-background;
}

.rooms__phrase {
  display: block;

  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  padding-bottom: 8px;
  color: $span-color;

  @include minW-Tablet {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.16;

    padding-bottom: 4px;
  }
}
.rooms__logo {
  display: block;
  padding-bottom: 32px;

  @include minW-Tablet {
    padding-bottom: 62px;
  }
  @include minW-Dt {
    padding-bottom: 72px;
  }
}
.rooms__title {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: $secondary-color;

  padding-bottom: 12px;
  color: $secondary-color;

  @include minW-Tablet {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.05em;
    padding-bottom: 16px;
  }

  @include minW-Dt {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.05em;
    padding-bottom: 24px;
  }
}

.rooms__phrase--fix {
  text-align: right;
}
.rooms__logo--fix {
  text-align: right;
  text-align: end;
  transform: translateX(0.3em);

  @include minW-Tablet {
    text-align: end;
    transform: translateX(0.3em);
  }
}

.rooms__title--fix {
  text-align: right;
  text-align: end;

  @include minW-Tablet {
    // padding-left: 45px;
    text-align: left;
  }
}

.rooms__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $primary-color;

  padding-bottom: 32px;
  padding-right: 141px;

  @include minW-Tablet {
    padding-right: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    max-width: 439px;
  }

  @include minW-Dt {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    max-width: 400px;
  }
}

.rooms__text--fix {
  padding-left: 83px;
  padding-right: 0;

  @include minW-Tablet {
    padding-left: 0;
  }
}

.rooms__img {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 32px;

  @include minW-Tablet {
    transform: translateY(-32px);
    // margin-top: -48px;
    margin-bottom: 48px;
  }
}
.rooms__img--fix {
  margin-left: 0;
  margin-right: auto;
}
.rooms__img--fix-second {
  box-shadow: $img-shadow;
}


// TABLET-MOD DESK-MOD !!!!!???/////
.position-wrapper {
  @include minW-Tablet {
    display: flex;
    gap: 26px;
  }
  @include minW-Dt {
    gap: 48px;
  }
}
.text-item-wrapper {
  
  padding-top: 32px;
  @include minW-Tablet {
    padding-left: 0;
    max-width: 509px;
  }

  @include maxW(540px) {
    padding-left: $paddingPhone;
  }
}

.two-bed-container .text-item-wrapper {
  @include maxW(540px) {
    padding-right: $paddingPhone;
  }
}

.second-position-wrapper {
  @include minW-Tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.second-position-wrapper--fix {
  @include minW-Tablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.position-wrapper--mod {
  @include minW-Tablet {
    display: flex;
    flex-direction: row-reverse;
    gap: 45px;
  }
}

.last-buttons-luxe,
.last-two-bed-buttons,
.last-three-bed-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
