.rooms {
  background-color: $primary-background;
  padding-bottom: 32px;

  @media screen and (max-width: $tabletMax) {
    overflow: hidden;
  }
}
.rooms--colorfix {
  background-color: $secondary-background;
}
.rooms__phrase {
  display: block;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  padding-bottom: 8px;
  color: $span-color;

  @media screen and (min-width: $tabletMin) {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    padding-bottom: 4px;
  }
}
.rooms__logo {
  display: block;
  padding-bottom: 32px;

  @media screen and (min-width: $tabletMin) {
    padding-bottom: 62px;
  }
  @media screen and (min-width: $desktopMin) {
    padding-bottom: 72px;
  }
}
.rooms__title {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: $secondary-color;

  padding-bottom: 12px;
  color: $secondary-color;

  @media screen and (min-width: $tabletMin) {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.05em;
    padding-bottom: 16px;
  }

  @media screen and (min-width: $desktopMin) {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.05em;
    padding-bottom: 24px;
  }
}

.rooms__phrase--fix {
  text-align: right;
}
.rooms__logo--fix {
  text-align: right;
  text-align: end;
  transform: translateX(0.3em);

  @media screen and (min-width: $tabletMin) {
    text-align: end;
    transform: translateX(0.3em);
  }
}

.rooms__title--fix {
  text-align: right;
  text-align: end;

  @media screen and (min-width: $tabletMin) {
    // padding-left: 45px;
    text-align: left;
  }
}

.rooms__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $primary-color;

  padding-bottom: 32px;
  padding-right: 141px;

  @media screen and (min-width: $tabletMin) {
    padding-right: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    max-width: 439px;
  }

  @media screen and (min-width: $desktopMin) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    max-width: 400px;
  }
}

.rooms__text--fix {
  padding-left: 83px;
  padding-right: 0;

  @media screen and (min-width: $tabletMin) {
    padding-left: 0;
  }
}

.rooms__img {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 32px;

  @media screen and (min-width: $tabletMin) {
    transform: translateY(-32px);
    // margin-top: -48px;
    margin-bottom: 48px;
  }
}
.rooms__img--fix {
  margin-left: 0;
  margin-right: auto;
}
.rooms__img--fix-second {
  box-shadow: $img-shadow;
}

// SLIDER ??///
.slider-section {
  margin-bottom: 20px;
  max-width: 245px;
  overflow: hidden;
  box-shadow: $img-shadow;
  background-color: rgba(0, 0, 0, 0.13);

  @media screen and (max-width: $tabletMax) {
    transform: translateX(-4em);
  }

  @media screen and (min-width: $tabletMin) {
    max-width: 428px;
  }
  @media screen and (min-width: $desktopMin) {
    max-width: 548px;
  }
}
.slider-section--fix-position {
  @media screen and (max-width: $tabletMax) {
    transform: translateX(12em);
  }
}
.slider-section--fix {
  @media screen and (min-width: $tabletMin) {
    margin-bottom: 0;
  }
}

// BUTTONS///////////
.rooms__button {
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 16px;
}
.rooms__button--fix {
  margin-bottom: 0;
}

// TABLET-MOD DESK-MOD !!!!!???/////
.position-wrapper {
  @media screen and (min-width: $tabletMin) {
    display: flex;
    gap: 26px;
  }
  @media screen and (min-width: $desktopMin) {
    display: flex;
    gap: 48px;
  }
}
.text-item-wrapper {
  padding-top: 32px;
  @media screen and (min-width: $tabletMin) {
    max-width: 509px;
  }
}
.second-position-wrapper {
  @media screen and (min-width: $tabletMin) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.second-position-wrapper--fix {
  @media screen and (min-width: $tabletMin) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.position-wrapper--mod {
  @media screen and (min-width: $tabletMin) {
    display: flex;
    flex-direction: row-reverse;
    gap: 45px;
  }
}
