table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Montserrat';
  font-style: normal;
}

td,
th {
  padding: 0;
  background-color: transparent;
}

.restaurant-menu {
  padding: 32px 0;
  &__title {
    margin-bottom: 32px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
    line-height: calc(37 / 32);
    color: #000000;
    
  }

  &__type-dishes {
      @include minW-Tablet {
        display: flex;
        
        flex-wrap: wrap;
        gap:  0 140px;
      }
  }

  &__type-dish {
    
      @include minW-Tablet {
display: flex;
    flex-direction: column;
    gap: 16px;
        flex-basis: calc((100% - ((2 - 1) * 140px)) / 2);
      }
  }

  &__subtitle {
    margin-bottom: 16px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: start;
  }
}
// можно обойтись без цього дива?
.dishes-set-cover {
  margin-bottom: 16px;
  @include maxW-Phone {
    margin-bottom: 0;
  }
}


.table-dish {

  &__item {
    display: block;
    margin-bottom: 8px;

    &:last-child {
  margin-bottom: 0;
    }  
  }

  &__title {
  display: block;
  margin-bottom: 4px;
  max-width: 225px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  text-align: start;
  color: #000000;

}
&__ingredients {

  display: block;
  max-width: 225px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 0.02em;
  color: #000000;
}

&__weight {
width: 80px; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: end;
  letter-spacing: 0.02em;
  color: #000000;
}
&__price {
  width: 80px; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: end;
  letter-spacing: 0.02em;
  color: #000000;
}
// &__body{
//   background-color: aqua;
//   margin-bottom: 8px;
//   &:last-child {
//   margin-bottom: 0;
// }
// }
&__title--one-row {
  display: block;
  max-width: 225px;
margin-bottom: 8px;
&:last-child {
  margin-bottom: 0;
}
}
}

