table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Montserrat';
  font-style: normal;
}

td,
th {
  padding: 0;
  background-color: transparent;
}

.restaurant-menu {
  padding: 32px 0;
  background: $secondary-background;

  @include minW-Dt {
      padding: 60px 0;
    }
    @include minW-Tablet {
      padding-bottom: 40px;
      }

  &__title {
    margin-bottom: 32px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
    line-height: calc(37 / 32);
    color: #000000;
    @include minW-Tablet {
       margin-bottom: 40px;
      }
  }

  &__type-dishes {
      @include minW-Tablet {
        display: flex;
        
        flex-wrap: wrap;
        gap:  0 140px;
      }
  }

  &__type-dish {
    margin-bottom: 32px;
      @include minW-Tablet {
display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
        flex-basis: calc((100% - ((2 - 1) * 140px)) / 2);
      }
  }

  &__subtitle {
    margin-bottom: 16px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: start;

     @include minW-Dt {
      margin-bottom: 20px;
      font-size: 24px;
line-height: calc(28 /24);
    }
  }
}

.dishes-set-cover {
  @include maxW-Tablet {
    margin-bottom: 16px;
  }
}


.table-dish {

  &__item {
    display: block;
    margin-bottom: 8px;

    &:last-child {
  margin-bottom: 0;
    } 
    @include minW-Dt{
margin-bottom: 12px;
    }

  }

  &__title {
  display: block;
  margin-bottom: 4px;
  max-width: 226px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  text-align: start;
  color: #000000;

  @include minW-Dt {
    min-width: 291px;
      font-size: 16px;
line-height: calc(20 / 16);
    }

}
&__ingredients {

  display: block;
  max-width: 226px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 0.02em;
  color: #000000;
  @include minW-Dt {
    min-width: 291px;
    }
}

&__weight {
width: 80px; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: end;
  letter-spacing: 0.02em;
  color: #000000;

@include minW-Tablet {
text-align: center;
}
  @include minW-Dt {
    width: 97px;
    }
}
&__price {
  width: 80px; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: end;
  letter-spacing: 0.02em;
  color: #000000;

  @include minW-Dt {
    width: 97px;
      font-size: 16px;
line-height: calc(20 / 16);
    }
}

&__title--one-row {
  display: block;
  max-width: 225px;
margin-bottom: 8px;
&:last-child {
  margin-bottom: 0;
}
}
}

.btn-reserve-table {

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;

    @include minW-Tablet {
  margin-right: 0;
    }
}

