
.room-section {
    background-color: $primary-background; 
}

.room-conditions {
    padding-top: 32px;
    padding-bottom: 32px;

    &__item {
        margin-bottom: 32px;
    }

    &__title {
        margin-bottom: 16px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.156;
        color: $secondary-color;
        text-transform: uppercase;
    
        @include maxW-Phone {
            font-size: 26px;
        }
    }

    &__subtitle {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.166;
        color: $secondary-color;
        text-transform: uppercase;
    
        &:first-child {
            margin-top: 32px;
        }    
    }

    &__description {
        margin-top: 16px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $primary-color;
    
        &--main {
            @include minW-Tablet {
                max-width: 757px;
            } 
        }
    
        @include minW-Tablet {
            flex-basis: calc((100% - 1 * 80px) / 2);
        }
    
        @include minW-Dt {
            flex-basis: calc((100% - 1 * 159px) / 2);
        }
    }
}

.description-section {
    @include minW-Tablet{
        display: flex;
        gap: 80px;
        }

        @include minW-Dt {
            gap: 159px;
        }
}

.room-btnlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include minW-Phone {
        flex-direction: column;

    @include minW-Tablet {
        align-items: flex-end;  
    }
}
}

.rooms-select {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $accent-color-second;
    transition: color 250ms $cubic;

    @include minW-Tablet {
        font-size: 20px;
        line-height: 1.2;
    }

    &:hover,
    &:focus {
        color: $accent-color;
        .icon-right {
            // display: none;
            fill: transparent;
        }
    }
}

.icon-right {
  
    margin-left: 12px;
    fill: currentColor;
    @include minW-Tablet {
        margin-left: 16px;
    }
}

.button-order {
    margin-bottom: 20px;

    @include minW-Tablet {
        margin-bottom: 32px;
    }

    @include maxW-Phone {
        width: 100%;
    }
}

