<section class="hero-background__hotel hero-background">
    <div class="hero-text">
        <h1 class="hero-text__name">MIMIHO</h1>
        <p class="hero-text__location">Готель</p>
        
    </div>
    <div class="address-frame">
        <a href="https://goo.gl/maps/bQpRyk2Er4yxsvf58">
            <svg class="address-frame__icon">
                <use href="./images/icons.svg#icon-map">
            </svg>
        </a>
        <a href="https://goo.gl/maps/bQpRyk2Er4yxsvf58" class="address-frame__link">
            Україна, м. Полтава,<br>вул. Маршала Бірюзова, 15
        </a>
    </div>
    <div class="hero-button">
        <button type="button" class="js-open-modal button-service button-service--hero" data-modal="1">Забронювати столик</button>
        <button type="button" class="js-open-modal button-service button-service--hero" data-modal="3">Переглянути ціни</button>
    </div>
    <div class="hero-socials">
        <include src="./partials/blocks/icons.html"></include>
    </div>
</section>  