<section class="rooms" data-slider="home-slider">
  <div class=" container luxe-container">
    <div class="position-wrapper">
    <div class="text-item-wrapper">
      <span class="rooms__phrase">Amet minim mollit non</span>
      <span class="logo rooms__logo">MIMIHO</span>
      <h2 class="rooms__title">ДВОМІСНИЙ НОМЕР люкс</h2>
      <p class="rooms__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div data-aos="fade-up"
    data-aos-duration="1500">
      <picture >
        <source
          srcset="
            /src/images/hotel-page/pic1-desk.jpg   1x,
            /src/images/hotel-page/pic1-desk2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="/src/images/hotel-page/pic1-tab.jpg 1x, /src/images/hotel-page/pic1-tab2x.jpg 2x"
          media="(min-width: 1024px)"
        />
        <img
          class="rooms__img rooms__img--fix-second"
          srcset="/src/images/hotel-page/pic1-mob.jpg 1x, /src/images/hotel-page/pic1-mob2x.png 2x"
          src="/src/images/hotel-page/pic1-mob.jpg"
          alt="Двомісний номер люкс"
        />
      </picture>
    </div>
  </div>

    <!-- SLIDER -->
    <div class="swiper-and-buttons-luxe">
      <div class="swiper-luxe-container">
        <div class="swiper">
          <div class="swiper-wrapper">
            <!-- <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide1-desk.jpg   1x,
                    /src/images/hotel-page/slides/slide1-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide1-tab.jpg   1x,
                    /src/images/hotel-page/slides/slide1-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/hotel-page/slides/slide1-mob.jpg   1x,
                    /src/images/hotel-page/slides/slide1-mob2x.jpg 2x
                  "
                  src="/src/images/hotel-page/slides/slide1-mob.jpg"
                  alt="Перший слайд"
                />
              </picture>
            </div> -->
            <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide2-desk.jpg   1x,
                    /src/images/hotel-page/slides/slide2-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide2-tab.jpg   1x,
                    /src/images/hotel-page/slides/slide2-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/hotel-page/slides/slide2-mob.jpg   1x,
                    /src/images/hotel-page/slides/slide2-mob2x.jpg 2x
                  "
                  src="/src/images/hotel-page/slides/slide2-mob.jpg"
                  alt="Другий слайд"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide3-desk.jpg   1x,
                    /src/images/hotel-page/slides/slide3-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide3-tab.jpg   1x,
                    /src/images/hotel-page/slides/slide3-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/hotel-page/slides/slide3-mob.jpg   1x,
                    /src/images/hotel-page/slides/slide3-mob2x.jpg 2x
                  "
                  src="/src/images/hotel-page/slides/slide3-mob.jpg"
                  alt="Третій слайд"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide4-desk.jpg   1x,
                    /src/images/hotel-page/slides/slide4-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide4-tab.jpg   1x,
                    /src/images/hotel-page/slides/slide4-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/hotel-page/slides/slide4-mob.jpg   1x,
                    /src/images/hotel-page/slides/slide4-mob2x.jpg 2x
                  "
                  src="/src/images/hotel-page/slides/slide4-mob.jpg"
                  alt="Четвертий слайд"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide5-desk.jpg   1x,
                    /src/images/hotel-page/slides/slide5-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide5-tab.jpg   1x,
                    /src/images/hotel-page/slides/slide5-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/hotel-page/slides/slide5-mob.jpg   1x,
                    /src/images/hotel-page/slides/slide5-mob2x.jpg 2x
                  "
                  src="/src/images/hotel-page/slides/slide5-mob.jpg"
                  alt="П'ятий слайд"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide6-desk.jpg   1x,
                    /src/images/hotel-page/slides/slide6-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide6-tab.jpg   1x,
                    /src/images/hotel-page/slides/slide6-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/hotel-page/slides/slide6-mob.jpg   1x,
                    /src/images/hotel-page/slides/slide6-mob2x.jpg 2x
                  "
                  src="/src/images/hotel-page/slides/slide6-mob.jpg"
                  alt="Шостий слайд"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-luxe__buttons">
            <button type="button" class="swiper-button-prev luxe-btn-prev">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="swiper-button-next luxe-btn-next">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="last-buttons-luxe">
        <a class="rooms__link rooms__button button-service link-button" href="/src/room.html">Детальніше</a>
        <button
          class="rooms__button rooms__button--fix button-service js-open-modal"
          type="button"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
