<section class="rooms rooms--colorfix" data-slider="home-slider">
  <div class="container two-bed-container">
    <div class="position-wrapper position-wrapper--mod">
      <div class="text-item-wrapper">
        <div class="rooms__logo-phrase--fix">
          <span class="rooms__phrase rooms__phrase--fix">Amet minim mollit non</span>
          <span class="logo rooms__logo rooms__logo--fix">MIMIHO</span>
        </div>
        <h2 class="rooms__title rooms__title--fix">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="rooms__text rooms__text--fix">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div  data-aos="fade-up"
      data-aos-duration="1500">
        <picture>
          <source
            srcset="
              /src/images/room-page/more/room1/room1-1.jpg   1x,
              /src/images/room-page/more/room1/room1-1-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/room-page/more/room1/room1-1-tab.jpg    1x,
              /src/images/room-page/more/room1/room1-1-tab2x.jpg  2x
            "
            media="(min-width: 1024px)"
          />
          <img
            class="rooms__img rooms__img--fix rooms__img--fix-second"
            srcset="
              /src/images/room-page/more/room1/room1-1-mob.jpg   1x,
              /src/images/room-page/more/room1/room1-1-mob2x.jpg  2x
            "
            src="/src/images/room-page/more/room1/room1-1-mob.jpg "
            alt="Трьохмісний номер"
          />
        </picture>
      </div>
    </div>

    <!-- SLIDER- -->
    <div class="swiper-and-buttons-two-bed">
      <div class="swiper-two-bed-container">
        <div class="swiper">
          <div class="swiper-wrapper">
            <!-- <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/room-page/more/room1/slide1-desk.jpg   1x,
                    /src/images/room-page/more/room1/slide1-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/room-page/more/room1/slide1-tab.jpg   1x,
                    /src/images/room-page/more/room1/slide1-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/room-page/more/room1/slide1-mob.jpg   1x,
                    /src/images/room-page/more/room1/slide1-mob2x.jpg 2x
                  "
                  src="/src/images/room-page/more/room1/slide1-mob.jpg"
                  alt="Перший слайд"
                />
              </picture>
            </div> -->
            <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/room-page/more/room1/slide3-desk.jpg   1x,
                    /src/images/room-page/more/room1/slide3-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/room-page/more/room1/slide3-tab.jpg   1x,
                    /src/images/room-page/more/room1/slide3-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/room-page/more/room1/slide3-mob.jpg   1x,
                    /src/images/room-page/more/room1/slide3-mob2x.jpg 2x
                  "
                  src="/src/images/room-page/more/room1/slide3-mob.jpg"
                  alt="Третій слайд"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide2-desk.jpg   1x,
                    /src/images/hotel-page/slides/slide2-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide2-tab.jpg   1x,
                    /src/images/hotel-page/slides/slide2-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/hotel-page/slides/slide2-mob.jpg   1x,
                    /src/images/hotel-page/slides/slide2-mob2x.jpg 2x
                  "
                  src="/src/images/hotel-page/slides/slide2-mob.jpg"
                  alt="Другий слайд"
                />
              </picture>
            </div>
            
            <div class="swiper-slide">
              <picture class="rooms__img">
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide4-desk.jpg   1x,
                    /src/images/hotel-page/slides/slide4-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/hotel-page/slides/slide4-tab.jpg   1x,
                    /src/images/hotel-page/slides/slide4-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <img
                  srcset="
                    /src/images/hotel-page/slides/slide4-mob.jpg   1x,
                    /src/images/hotel-page/slides/slide4-mob2x.jpg 2x
                  "
                  src="/src/images/hotel-page/slides/slide4-mob.jpg"
                  alt="Четвертий слайд"
                />
              </picture>
            </div>
          </div>

          <div class="swiper-two-bed__buttons">
            <button type="button" class="swiper-button-prev two-bed-btn-prev">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="swiper-button-next two-bed-btn-next">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="last-two-bed-buttons">
        <a class="rooms__link rooms__button button-service link-button" href="/src/room.html">Детальніше</a>
        <button
          class="rooms__button rooms__button--fix button-service js-open-modal"
          type="button"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
