<section class="container rooms rooms--colorfix">
  <span class="rooms__phrase">Amet minim mollit non</span>
  <span class="rooms__logo">MIMIHO</span>
  <h2 class="rooms__title">ТРЬОХМІСНИЙ НОМЕР</h2>
  <p class="rooms__text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
    consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
  </p>

  <button class="rooms__button" type="button">Детальніше</button>
  <button class="rooms__button" type="button">Переглянути ціни</button>
</section>
