<section class="container rooms">
  <div class="position-wrapper">
    <div class="text-item-wrapper">
      <span class="rooms__phrase">Amet minim mollit non</span>
      <span class="logo rooms__logo">MIMIHO</span>
      <h2 class="rooms__title">ДВОМІСНИЙ НОМЕР люкс</h2>
      <p class="rooms__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div><img class="rooms__img" src="/src/images/main-slide-mobile.png" alt="основне-фото" /></div>
<picture>
          <source
            srcset="
              ./images/room-page/room-slide1-desktop.jpg    1x,
              ./images/room-page/room-slide1-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/room-page/room-slide1-tablet.jpg    1x,
              ./images/room-page/room-slide1-tablet@2x.jpg 2x
            "
            media="(min-width: 481px)"
          />
          <img
            class="swiper-slide__img"
            srcset="
              ./images/room-page/room-slide1-mobile.jpg    1x,
              ./images/room-page/room-slide1-mobile@2x.jpg 2x
            "
            src="./images/room-page/room-slide1-mobile.jpg"
            alt="Двомісний номер люкс"
          />
        </picture>

  </div>

  <!-- SWIPER-ДОДАТИ ФОТО -->
  <div class="second-position-wrapper">
    <div>
      <section class="slider-section" data-slider="details-slider">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src="/src/images/slide-1.png" alt="firstslide" />
            </div>
            <div class="swiper-slide"><img src="/src/images/slide-2.png" alt="firstslide" /></div>
            <div class="swiper-slide"><img src="/src/images/slide-3.png" alt="firstslide" /></div>
          </div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </section>
    </div>
    <div>
      <button class="rooms__button" type="button">Детальніше</button>
      <button class="rooms__button rooms__button--fix" type="button">Переглянути ціни</button>
    </div>
  </div>
</section>
