<section class=" about about__hotel">
    <div class="container">
      <div class="about__container">
        
        <div class="about__img-content1 about__img-content1--rev">
          <div class="about__content">
            <h2 hidden>Про наш готель</h2>
            <span class="about__subtitle">Amet minim mollit non</span>
            <span class="logo logo--section">mimiho</span>
            <p class="about__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </div>
          <picture class="revers about__img-foto1">
            <source srcset="./images/home-page/about-hotel/pic1-desk.jpg 1x,  ./images/home-page/about-hotel/pic1-desk2x.jpg 2x" media="(min-width: 1280px)" />
           <source srcset="./images/home-page/about-hotel/pic1-tab.jpg 1x,  ./images/home-page/about-hotel/pic1-tab2x.jpg 2x " media="(min-width: 1024px)" />
           <img  srcset="./images/home-page/about-hotel/pic1-mob.jpg 1x, ./images/home-page/about-hotel/pic1-mob2x.jpg 2x "
            alt="фото кімнати готелю" />
          </picture>
        </div>

         <div class="about__img-content2 about__img-content2--rev">
         <picture class="about__img-foto2" >
            <source srcset="./images/home-page/about-hotel/pic2-desk.jpg 1x,  ./images/home-page/about-hotel/pic2-desk2x.jpg 2x " media="(min-width: 1280px)" />
           <source srcset="./images/home-page/about-hotel/pic2-tab.jpg 1x,  ./images/home-page/about-hotel/pic2-tab2x.jpg 2x " media="(min-width: 1024px)" />
           <img srcset="./images/home-page/about-hotel/pic2-mob.jpg 1x, ./images/home-page/about-hotel/pic2-mob2x.jpg 2x "
            alt="фото лобі готелю" />
         </picture>
         <p class="about__text--modif">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
      </div>
    </div>

    <!-- Slider main container -->
<div class="swiper-about" data-slider="home-slider">
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><picture><source      srcset="./images/home-page/about-hotel/slide1-desk.jpg 1x,  ./images/home-page/about-hotel/slide1-desk2x.jpg 2x" media="(min-width: 1280px)" />
        <source  srcset="./images/home-page/about-hotel/slide1-tab.jpg 1x,  ./images/home-page/about-hotel/slide1-tab2x.jpg 2x " media="(min-width: 481px)" />
        <img class="swiper-slide__img"   srcset="./images/home-page/about-hotel/slide1-mob.png 1x, ./images/home-page/about-hotel/slide1-mob2x.png 2x "
          src="./images/home-page/about-hotel/slide1-mob.png"  alt="Стійка реєстрації готелю"/></picture>  
</div>
    <div class="swiper-slide"><picture><source      srcset="./images/home-page/about-hotel/slide2-desk.jpg 1x,  ./images/home-page/about-hotel/slide2-desk2x.jpg 2x" media="(min-width: 1280px)" />
        <source  srcset="./images/home-page/about-hotel/slide2-tab.jpg 1x,  ./images/home-page/about-hotel/slide2-tab2x.jpg 2x " media="(min-width: 481px)" />
        <img class="swiper-slide__img"   srcset="./images/home-page/about-hotel/slide2-mob.jpg 1x, ./images/home-page/about-hotel/slide2-mob2x.jpg 2x "
          src="./images/home-page/about-hotel/slide2-mob.jpg"  alt="Ліжко та рушники"/> 
        </picture>  
    </div>
        <div class="swiper-slide"><picture><source      srcset="./images/home-page/about-hotel/slide3-desk.jpg 1x,  ./images/home-page/about-hotel/slide3-desk2x.jpg 2x" media="(min-width: 1280px)" />
        <source  srcset="./images/home-page/about-hotel/slide3-tab.jpg 1x,  ./images/home-page/about-hotel/slide3-tab2x.jpg 2x " media="(min-width: 481px)" />
        <img class="swiper-slide__img"   srcset="./images/home-page/about-hotel/slide3-mob.jpg 1x, ./images/home-page/about-hotel/slide3-mob2x.jpg 2x "
          src="./images/home-page/about-hotel/slide3-mob.jpg"  alt="Лобі готелю"/></picture> 
        </div>
        <div class="swiper-slide"><picture><source      srcset="./images/home-page/about-hotel/slide4-desk.jpg 1x,  ./images/home-page/about-hotel/slide4-desk2x.jpg 2x" media="(min-width: 1280px)" />
            <source  srcset="./images/home-page/about-hotel/slide4-tab.jpg 1x,  ./images/home-page/about-hotel/slide4-tab2x.jpg 2x " media="(min-width: 481px)" />
            <img class="swiper-slide__img"   srcset="./images/home-page/about-hotel/slide4-mob.jpg 1x, ./images/home-page/about-hotel/slide4-mob2x.jpg 2x "
              src="./images/home-page/about-hotel/slide4-mob.jpg"  alt="Ванна кімната"/></picture>  
        </div>
        <div class="swiper-slide"><picture><source      srcset="./images/home-page/about-hotel/slide5-desk.jpg 1x,  ./images/home-page/about-hotel/slide5-desk2x.jpg 2x" media="(min-width: 1280px)" />
            <source  srcset="./images/home-page/about-hotel/slide5-tab.jpg 1x,  ./images/home-page/about-hotel/slide5-tab2x.jpg 2x " media="(min-width: 481px)" />
            <img class="swiper-slide__img"   srcset="./images/home-page/about-hotel/slide5-mob.jpg 1x, ./images/home-page/about-hotel/slide5-mob2x.jpg 2x "
              src="./images/home-page/about-hotel/slide5-mob.jpg"  alt="Ванна кімната"/></picture>  
        </div>
        <div class="swiper-slide"><picture><source      srcset="./images/home-page/about-hotel/slide6-desk.jpg 1x,  ./images/home-page/about-hotel/slide6-desk2x.jpg 2x" media="(min-width: 1280px)" />
            <source  srcset="./images/home-page/about-hotel/slide6-tab.jpg 1x,  ./images/home-page/about-hotel/slide6-tab2x.jpg 2x " media="(min-width: 481px)" />
            <img class="swiper-slide__img"   srcset="./images/home-page/about-hotel/slide6-mob.jpg 1x, ./images/home-page/about-hotel/slide6-mob2x.jpg 2x "
              src="./images/home-page/about-hotel/slide6-mob.jpg"  alt="Кімната готелю"/></picture>  
        </div>
        <div class="swiper-slide"><picture><source      srcset="./images/home-page/about-hotel/slide7-desk.jpg 1x,  ./images/home-page/about-hotel/slide7-desk2x.jpg 2x" media="(min-width: 1280px)" />
            <source  srcset="./images/home-page/about-hotel/slide7-tab.jpg 1x,  ./images/home-page/about-hotel/slide7-tab2x.jpg 2x " media="(min-width: 481px)" />
            <img class="swiper-slide__img"   srcset="./images/home-page/about-hotel/slide7-mob.jpg 1x, ./images/home-page/about-hotel/slide7-mob2x.jpg 2x "
              src="./images/home-page/about-hotel/slide7-mob.jpg"  alt="Кімната готелю"/></picture>  
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>
</section>
