<section class="about-restourant">
    <div class="about-restourant__container">
        <h2 hidden>Про наш ресторан</h2>
        <span>Amet minim mollit non</span>
        <span class="logo">Міміно</span>
        <p class="about-restourant__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture class="about-restourant__img" >
            <source srcset="./src./i" media="(min-width: 1280px)" />
           <source srcset="" media="(min-width: 1024px)" />
           <img srcset=""
            alt="фото ресторану1" />
         </picture>
         <picture class="about-restourant__img" >
            <source srcset="" media="(min-width: 1280px)" />
           <source srcset="" media="(min-width: 1024px)" />
           <img srcset=""
            alt="фото ресторану2" />
         </picture>
         <p class="about-restourant__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
</section>