<section class="contacts">
	<div class="container">
		<h3 class=".visually-hidden">Контакти</h3>
		<span class="logo">mimino</span>
		<p>Ресторанно-готельний комплекс</p>
		<ul class="contacts__list list">
			<li class="contacts__item">
				<p>Ресторан</p>
				<a class="contacts__link link" href="tel:+380955559533">095 555 95 33</a>
			</li>
			<li class="contacts__item">
				<p>Готель</p>
				<a class="contacts__link link" href="tel:+380955559533">095 555 95 33</a>
			</li>
			<li class="contacts__item">
				<a href="https://goo.gl/maps/PxiSZAbsaJFjPWgw9" class="address__link" target="_blank" rel="noopener noreferrer">
					<svg class="address__icon" width="24" height="24">
							<use href="./images/icons.svg#icon-map"></use>
					</svg> Україна, м. Полтава, <br> вул. Маршала Бірюзова, 15
				</a>
			</li>
		</ul>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d256.73967180850974!2d34.525697971874244!3d49.599340178894955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e1!3m2!1suk!2sua!4v1674915793824!5m2!1suk!2sua" width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</section>