<section class="contacts">
	<div class="contacts__container container">
		<div class="contacts__wrapper">
			<h3 class="visually-hidden">Контакти</h3>
			<span class="contacts__logo logo">mimiho</span>
			<p class="contacts__subtitle">Ресторанно-готельний комплекс</p>
			<ul class="contacts__list list">
				<li class="contacts__item contact-info contact-info--rest">
					<p class="contact-info__title">Ресторан</p>
					<div class="contact-box">
						<svg class="contact-box__icon" width="24" height="24">
							<use href="./images/icons.svg#icon-tel"></use>
						</svg>
						<a href="tel:+380955559533" class="contact-box__text">095 555 95 33</a>
					</div>
				</li>
				<li class="contacts__item contact-info contact-info--hotel">
					<p class="contact-info__title">Готель</p>
					<div class="contact-box">
						<svg class="contact-box__icon" width="24" height="24">
							<use href="./images/icons.svg#icon-tel"></use>
						</svg>
						<div class="thumb-tel">
							<a href="tel:+380668491089" class="contact-box__text">066 849 10 89</a>					
							<a href="tel:+380672758540" class="contact-box__text contact-box__text--ml">067 275 85 40</a>
						</div>
					</div>
				</li>
				<li class="contacts__item contact-info contact-info--address">
					<div class="contact-box contact-box--address">
						<svg class="contact-box__icon contact-box__icon--address" width="24" height="24">
							<use href="./images/icons.svg#icon-map"></use>
						</svg>
						<a href="https://goo.gl/maps/PxiSZAbsaJFjPWgw9" class="contact-box__text contact-box__text--address" target="_blank" rel="noopener noreferrer">Україна, м. Полтава, <br> вул. Маршала <br class="contact-box__br"> Бірюзова, 15</a>
					</div>
				</li>
			</ul>
		</div>
		<iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8202.167878345259!2d34.52751189518283!3d49.599538206289985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1675041956865!5m2!1suk!2sua" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</section>

