<section class="contacts">
	<div class="container">
		<h3 class="visually-hidden">Контакти</h3>
		<span class="contacts__logo logo">mimino</span>
		<p class="contacts__subtitle">Ресторанно-готельний комплекс</p>
		<ul class="contacts__list list">
			<li class="contacts__item contact-info contact-info--rest">
				<p class="contact-info__title">Ресторан</p>
				<div class="contact-box">
					<svg class="contact-box__icon" width="24" height="24">
						<use href="./images/icons.svg#icon-tel"></use>
					</svg>
					<span class="contact-box__text">095 555 95 33</span>
				</div>
			</li>
			<li class="contacts__item contact-info contact-info--hotel">
				<p class="contact-info__title">Готель</p>
				<div class="contact-box">
					<svg class="contact-box__icon" width="24" height="24">
						<use href="./images/icons.svg#icon-tel"></use>
					</svg>
					<span class="contact-box__text">066 849 10 89</span>					
					<span class="contact-box__text contact-box__text--ml">067 275 85 40</span>
				</div>
			</li>
			<li class="contacts__item contact-info contact-info--address">
				<div class="contact-box contact-box--address">
					<svg class="contact-box__icon" width="24" height="24">
						<use href="./images/icons.svg#icon-map"></use>
					</svg>
					<p class="contact-box__text contact-box__text--address">Україна, м. Полтава, <br> вул. Маршала <br class="contact-box__br"> Бірюзова, 15</p>
				</div>
			</li>
		</ul>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14465.979385149585!2d34.519578753480516!3d49.595922599963075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e1!3m2!1sru!2sua!4v1674937428153!5m2!1sru!2sua" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</section>

