<section class="details-hotel">
  <div class="container">
    <div class="details-block-hotel">
      <a href="./hotel.html" class="logo logo--white">MIMIHO</a>
      <h2 class="details-title">Готель</h2>
    </div>

    <div class="details-block-text">
      <p class="heading__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit.
      </p>
    </div>

    <div class="img-details-hotel">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-dr">
            <picture>
              <source
                srcset="
                  ./images/home-page/details-hotel/slide1-desk.jpg   1x,
                  ./images/home-page/details-hotel/slide1-desk2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide1-tab.jpg   1x,
                  ./images/home-page/details-hotel/slide1-tab2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide1-mob.jpg   1x,
                  ./images/home-page/details-hotel/slide1-mob2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                srcset="
                  ./images/home-page/details-hotel/slide1-mob.jpg   1x,
                  ./images/home-page/details-hotel/slide1-mob2x.jpg 2x
                "
                src="./images/home-page/details-hotel/slide1-mob.jpg"
                alt="Коричневий номер"
              />
            </picture>

            <picture>
              <source
                srcset="
                  ./images/home-page/details-hotel/slide2-desk.jpg   1x,
                  ./images/home-page/details-hotel/slide2-desk2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide2-tab.jpg   1x,
                  ./images/home-page/details-hotel/slide2-tab2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                srcset="
                  ./images/home-page/details-hotel/slide2-desk.jpg   1x,
                  ./images/home-page/details-hotel/slide2-desk2x.jpg 2x
                "
                src="./images/home-page/details-hotel/slide2-desk.jpg"
                alt="Сніданок"
              />
            </picture>

            <picture>
              <source
                srcset="
                  ./images/home-page/details-hotel/slide3-desk.jpg   1x,
                  ./images/home-page/details-hotel/slide3-desk2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide3-tab.jpg   1x,
                  ./images/home-page/details-hotel/slide3-tab2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                srcset="
                  ./images/home-page/details-hotel/slide3-desk.jpg   1x,
                  ./images/home-page/details-hotel/slide3-desk2x.jpg 2x
                "
                src="./images/home-page/details-hotel/slide3-desk.jpg"
                alt="Рецепшн"
              />
            </picture>

            <picture>
              <source
                srcset="
                  ./images/home-page/details-hotel/slide4-desk.jpg   1x,
                  ./images/home-page/details-hotel/slide4-desk2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide4-tab.jpg   1x,
                  ./images/home-page/details-hotel/slide4-tab2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide4-mob.jpg   1x,
                  ./images/home-page/details-hotel/slide4-mob2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                srcset="
                  ./images/home-page/details-hotel/slide4-mob.jpg   1x,
                  ./images/home-page/details-hotel/slide4-mob2x.jpg 2x
                "
                src="./images/home-page/details-hotel/slide4-mob.jpg"
                alt="Послуги салону краси"
              />
            </picture>

            <picture>
              <source
                srcset="
                  ./images/home-page/details-hotel/slide5-desk.jpg   1x,
                  ./images/home-page/details-hotel/slide5-desk2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide5-tab.jpg   1x,
                  ./images/home-page/details-hotel/slide5-tab2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide5-mob.jpg   1x,
                  ./images/home-page/details-hotel/slide5-mob2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                srcset="
                  ./images/home-page/details-hotel/slide5-mob.jpg   1x,
                  ./images/home-page/details-hotel/slide5-mob2x.jpg 2x
                "
                src="./images/home-page/details-hotel/slide5-mob.jpg"
                alt="Бістро"
              />
            </picture>

            <picture>
              <source
                srcset="
                  ./images/home-page/details-hotel/slide6-desk.jpg   1x,
                  ./images/home-page/details-hotel/slide6-desk2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide6-tab.jpg   1x,
                  ./images/home-page/details-hotel/slide6-tab2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/home-page/details-hotel/slide6-mob.jpg   1x,
                  ./images/home-page/details-hotel/slide6-mob2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                srcset="
                  ./images/home-page/details-hotel/slide6-mob.jpg   1x,
                  ./images/home-page/details-hotel/slide6-mob2x.jpg 2x
                "
                src="./images/home-page/details-hotel/slide6-mob.jpg"
                alt="Кімната відпочинку"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="swiper-button-prev details-btn-prev">
      <svg width="32" height="32">
        <use href="./images/icons.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button type="button" class="swiper-button-next details-btn-next">
      <svg width="32" height="32">
        <use href="./images/icons.svg#icon-arrow-left"></use>
      </svg>
    </button>

    <div class="details-btn-hotel">
      <button type="button" class="button">Забронювати номер</button>
      <button type="button" class="button">Переглянути ціни</button>
    </div>
  </div>
</section>
