<section class="details-hotel" data-slider="details-slider">
  <div class="container details-hotel-container">
    <!-- TEXT -->
    <div class="details-block-hotel">
      <span class="logo logo--white details-block-hotel--logo"
          >mimiho</span>
      <h2 class="details-block-hotel__title">Готель</h2>
      <p class="details-block-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit.
      </p>
    </div>

    <div class="swiper-and-buttons-hotel-container">
      <!-- SLIDER -->
      <div class="swiper-hotel-details-container">
        <div class="swiper swiper-details">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-details__slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide1-desk.jpg   1x,
                    ./images/home-page/details-hotel/slide1-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide1-tab.jpg   1x,
                    ./images/home-page/details-hotel/slide1-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide1-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide1-mob2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />
                <img
                  srcset="
                    ./images/home-page/details-hotel/slide1-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide1-mob2x.jpg 2x
                  "
                  src="./images/home-page/details-hotel/slide1-mob.jpg"
                  alt="Коричнева кімната"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-details__slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide2-desk.jpg   1x,
                    ./images/home-page/details-hotel/slide2-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide2-tab.jpg   1x,
                    ./images/home-page/details-hotel/slide2-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide2-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide2-mob2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />
                <img
                  srcset="
                    ./images/home-page/details-hotel/slide2-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide2-mob2x.jpg 2x
                  "
                  src="./images/home-page/details-hotel/slide2-mob.jpg"
                  alt="Сніданок"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-details__slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide3-desk.jpg   1x,
                    ./images/home-page/details-hotel/slide3-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide3-tab.jpg   1x,
                    ./images/home-page/details-hotel/slide3-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide3-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide3-mob2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />
                <img
                  srcset="
                    ./images/home-page/details-hotel/slide3-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide3-mob2x.jpg 2x
                  "
                  src="./images/home-page/details-hotel/slide3-mob.jpg"
                  alt="Рецепшн"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-details__slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide4-desk.jpg   1x,
                    ./images/home-page/details-hotel/slide4-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide4-tab.jpg   1x,
                    ./images/home-page/details-hotel/slide4-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide4-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide4-mob2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />
                <img
                  srcset="
                    ./images/home-page/details-hotel/slide4-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide4-mob2x.jpg 2x
                  "
                  src="./images/home-page/details-hotel/slide4-mob.jpg"
                  alt="SPA послуги"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-details__slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide5-desk.jpg   1x,
                    ./images/home-page/details-hotel/slide5-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide5-tab.jpg   1x,
                    ./images/home-page/details-hotel/slide5-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide5-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide5-mob2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />
                <img
                  srcset="
                    ./images/home-page/details-hotel/slide5-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide5-mob2x.jpg 2x
                  "
                  src="./images/home-page/details-hotel/slide5-mob.jpg"
                  alt="Бістро"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-details__slide">
              <picture>
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide6-desk.jpg   1x,
                    ./images/home-page/details-hotel/slide6-desk2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide6-tab.jpg   1x,
                    ./images/home-page/details-hotel/slide6-tab2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/home-page/details-hotel/slide6-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide6-mob2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                />
                <img
                  srcset="
                    ./images/home-page/details-hotel/slide6-mob.jpg   1x,
                    ./images/home-page/details-hotel/slide6-mob2x.jpg 2x
                  "
                  src="./images/home-page/details-hotel/slide6-mob.jpg"
                  alt="Кімната відпочинку"
                />
              </picture>
            </div>
          </div>

          <div class="swiper-details-hotel__buttons">
            <button type="button" class="swiper-button-prev details-hotel-btn-prev">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="swiper-button-next details-hotel-btn-next">
              <svg width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- BUTTONS -->
      <div class="details-btn-container">
        <button
          type="button"
          class="details-btn-container__button button-service__details js-open-modal button-service"
          data-modal="2"
        >
          Забронювати номер
        </button>
        <button
          type="button"
          class="details-btn-container__button button-service__details js-open-modal button-service"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
