<section class="details-rest" data-slider="details-slider">
  <div class="container">
    <!-- text -->
    <div class="details-block">
      <a href="./hotel.html" class="logo logo--white">MIMIHO</a>
      <h2 class="details-title">Ресторан</h2>
      <p class="heading__text heading__text--white">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit.
      </p>

      <!-- img -->
      <!-- <div class="img-details-rest">
        
        <picture>
          <source srcset="" media="(min-width: 1280px)" />
          <source srcset="" media="(min-width: 1024px)" />
          <source srcset="" media="(min-width: 414px)" />
          <img srcset="" src="" alt="Стейк" />
        </picture>
      </div> -->

      <button type="button" class="swiper-button-prev details-btn-prev">
        <svg width="32" height="32">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="swiper-button-next details-btn-next">
        <svg width="32" height="32">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button type="button" class="button">Забронювати столик</button>
      <button type="button" class="button">Переглянути меню</button>
    </div>
  </div>
</section>
