<section class="hero-background__home hero-background">
    
        <div class="container">
    <div class="hero-text"> 
        <h1 class="hero-text__name">MIMIHO</h1>
        <p class="hero-text__location">Ресторанно-готельний комплекс</p>
        <p class="hero-text__moto">СМАК ЖИТТЯ 24/7</p>
    </div>
    <div class="address-button">
    <div class="address-frame">
        <a href="https://goo.gl/maps/bQpRyk2Er4yxsvf58">
            <svg class="address-frame__icon">
                <use href="./images/icons.svg#icon-map">
            </svg>
        </a>
        <a href="https://goo.gl/maps/bQpRyk2Er4yxsvf58" class="address-frame__link" target="_blank" rel="noopener noreferrer">
            Україна, м. Полтава,<br>вул. Маршала Бірюзова, 15
        </a>
    </div>
    <div class="hero-button">
        <button type="button" class="js-open-modal button-hero" data-modal="1">Забронювати столик</button>
        <button type="button" class="js-open-modal button-hero" data-modal="2">Забронювати номер</button>     
    </div>
    </div>
    <div class="hero-socials">  
        <include src="./partials/blocks/icons.html"></include>
    </div>
    </div>
</section>  