<section class="hero-background">
    <div class="hero-text">
        <h1 class="hero-text__name">MIMIHO</h1>
        <p class="hero-text__location">Ресторанно-готельний комплекс</p>
        <p class="hero-text__moto">СМАК ЖИТТЯ 24/7</p>
    </div>
    <div class="address-frame">
        <a href="https://goo.gl/maps/bQpRyk2Er4yxsvf58" >
            <svg class="address-frame__icon">
                <use href="./images/icons.svg#icon-map">
            </svg>
        </a>
        <a href="https://goo.gl/maps/bQpRyk2Er4yxsvf58" class="address-frame__link">
            Україна, м. Полтава,<br>вул. Маршала Бірюзова, 15
        </a>
    </div>
    <div class="hero-button">
        <button type="button">Забронювати столик</button>
        <button type="button">Забронювати номер</button>     
    </div>
    <div class="hero-socils">
        <include src="./partials/blocks/icons.html"></include>
    </div>
</section> 