.room-price-modal {
  max-height: 572px;
  @media screen and (min-width: 712px) {
    max-height: 489px;
  }
}
.form-price__title {
  font-size: 24px;
  @media screen and (min-width: 712px){
  font-size: 32px;
  }
}
  .form-price__category {
    display: flex;
    font-family: ‘Times New Roman’, Times, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.05em;
    color: $placeholder-color;
    margin-bottom: 28px;
    @media screen and (min-width: 712px){
      display: flex;
      margin-bottom: 24px;
      flex-direction: column;
    }
  }
  .form-price__block {
    @media screen and (min-width: 712px) {
    display: flex;
    direction: row;
  }
}
  .form-price__field {
    @media screen and (min-width: 712px) {
            &:last-child {
              margin-left: 16px;
            }
      }
    }
    .form-price__label {
      margin-left:0;
      font-size: 16px;
      line-height: 1.25;
      margin-bottom: 14px;
      &:last-child {
        margin-left: 15px;
      }
      @media screen and (min-width: 712px) {
        margin-bottom: 24px;
        max-width: 288px;
      }
    }
  .list-select {
    height: 54px;
    margin-bottom: 14px;
    @media screen and (min-width: 712px) {
     height: 64px;
     margin-bottom: 8;
    }
  }
  .form-select__input {
    background: transparent;
    height: 54px;
    border: solid 1px $accent-color-second;
    padding: 13px 15px;
    margin-bottom: 14px;
    border-radius: 0;
    width: 100%;
    align-items: center;
    font-family: ‘Times New Roman’, Times, serif;
    font-weight: 700;
    font-size:24px;
    letter-spacing: 0.05em;
    color: $placeholder-color;
    &:disabled{
    color: $placeholder-color;
    }
    @media screen and (min-width: 712px) {
      width: 288px;
      height: 64px;
      margin-bottom: 8px;
    }
  }
.nice-select-dropdown .list{
    max-height: 90px;
}
.form-price__btn {
  margin-top: 40px;
  @media screen and (min-width: 712px) {
    margin-top: 16px;
  }
}