.book-room-modal {
  max-height: 780px;
  @media screen and (min-width: 712px) {
    max-height: 638px;
  }
}
.room-modal-form__item {
  @media screen and (min-width: 712px) {
    display: inline-block;
    &--left {
      margin-left: 11px;
    }
  }
}
.room-modal__label {
  @media screen and (min-width: 712px) {
    margin-bottom: 28px;
  }
}
.room-modal-form__select-one {
  @media screen and (min-width: 712px) {
    width: 288px;
    margin-left: auto;
  }
}
.room-modal-form__btn {
  width: 100%;
  display: block;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
