.book-room-modal {
  // max-height: 780px;
  top:10vh;
  left:50%;
  transform: translateX(-50%);
  @media screen and (min-width: 712px) {
    // max-height: 638px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.room-modal-form {
  @media screen and (min-width: 712px) {
    display: flex;
    flex-direction: column;
  }
}
.room-modal-form__box {
  @media screen and (min-width: 712px){
  display: flex;
  justify-content: space-between;
}
}

.room-modal-form__item {
  @media screen and (min-width: 712px) {
    // display: inline-block;
    // &--left {
    //   margin-left: 11px;
    // }
    display: flex;
    flex-direction: column;
  }
}
.room-modal__label {
  @media screen and (min-width: 712px) {
    margin-bottom: 28px;
  }
}
.room-modal-form__select-one {
  @media screen and (min-width: 712px) {
    width: 288px;
    margin-left: auto;
  }
}
.room-modal-form__btn {
  margin-top: 40px;
  @media screen and (min-width: 712px) {
    margin-top: 12px;
  }
}
