.room-modal{
    position:absolute;
   
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
    overflow-y: auto;
    width: 100%;
    max-width: 414px;
    height: 100%;
    max-height: 780px;

    padding: 60px 15px;
    background-color: $primary-background;
 
}
.icon-close{
    position: absolute;
    top: 16px;
    right: 15px;
    padding: 0;
    
    border:none;
    background-color: transparent;
    &:hover{fill: $accent-color-second;}
}
.room-modal-form__header{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: 'Times New Roman';
   
    line-height: 1.17;
  
    letter-spacing: 0.05em;
    
    color:$secondary-color;
    }
.room-modal-form__input{ 
    width: 100%;

    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    line-height:1.15;
    letter-spacing: 0.05em;

    padding: 16px 12px;
    cursor: pointer;
    outline: none;

    color:$placeholder-color;
    border: 1px solid $accent-color-second;
    border-radius: 2px;
    margin-bottom: 8px;
    background-color: $primary-background;
     &:hover, &:focus{border-color: $placeholder-color}}    
.js-inputmask{
    width: 100%;

    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    line-height:1.15;
    letter-spacing: 0.05em;

    padding: 16px 12px;

    cursor: pointer;
    outline: none;

    color:$placeholder-color;
    border: 1px solid $accent-color-second;
    margin-bottom: 8px;
    background-color: $primary-background;
    &:hover, &:focus{border-color: $placeholder-color}}
.room-modal__label{
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height:1.21;
  
    letter-spacing: 0.02em;
    
    color:$accent-color-second;
    padding-left: 12px;
    margin-bottom: 20px;
    }    
.js-select{border: none;}    
.nice-select{
    display: flex;
    justify-content:start;
    align-items: center;
    width: 100%;
    height: 64px;
    padding-left:12px;
    margin-bottom: 8px;

    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    line-height:1.15;
    
    letter-spacing: 0.05em;
    
    color: $placeholder-color;
    background-color: $primary-background;
    border: 1px solid $accent-color-second;
    border-radius: 0;
    &:hover{border-color: $placeholder-color;}
    & .nice-select-search{background-color: $primary-background;
        font-family: 'Times New Roman';
        font-weight: 700;
        font-size: 20px;
        line-height:1.15;
        
        letter-spacing: 0.05em;
         border: none;}
    &.open .nice-select-dropdown{
        width: 100%;
        background-color:$primary-background;
        border-radius: 0;
       ::placeholder{display: none};
    }
}
.nice-select::after{
    content: "";
    height: 15px;
    width: 15px;
    right: 20px;
    top: 40%;
    border-bottom:3px solid $accent-color-second;
    border-right:3px solid $accent-color-second;}
.room-modal-form__btn{
    margin-top: 40px;}  
