.book-table-modal {
  // max-height: 668px;
  @media screen and (min-width: 712px) {
    // max-height: 522px;
  }
}
.form-table {
  @media screen and (min-width: 712px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__field {
    position: relative;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 712px) {
      &:nth-child(2n + 1) {
        margin-left: 16px;
      }
    }
  }
  &__label {
    @media screen and (min-width: 712px) {
      max-width: 262px;
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
