<section class="about about__kitchen" data-slider="home-slider">
  <div class="container about-kitchen-container">
    <div class="about__container">
      <div class="about__img-content1">
        <div class="about__content">
          <h2 hidden>Про кухню нашого ресторану</h2>
          <span class="about__subtitle">Amet minim mollit non</span>
          <span class="logo logo--section">mimiho</span>
          <p class="about__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
        <picture class="about__img-foto1"  data-aos="fade-up"
        data-aos-duration="1500">
          <source
            srcset="
              ./images/rest-page/about/pic1-desk.jpg   1x,
              ./images/rest-page/about/pic1-desk2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/rest-page/about/pic1-tab.jpg   1x,
              ./images/rest-page/about/pic1-tab2x.jpg 2x
            "
            media="(min-width: 481px)"
          />
          <img class="about__img"
            srcset="
              ./images/rest-page/about/pic1-mob.jpg   1x,
              ./images/rest-page/about/pic1-mob2x.jpg 2x
            " src="
            ./images/rest-page/about/pic1-mob.jpg"
            alt="фото кухні1"
          />
        </picture>
      </div>
      <div class="about__img-content2">
        <picture class="about__img-foto2"   data-aos="fade-up"
        data-aos-duration="1500">
          <source
            srcset="
              ./images/rest-page/about/pic2-desk.jpg   1x,
              ./images/rest-page/about/pic2-desk2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/rest-page/about/pic2-tab.jpg   1x,
              ./images/rest-page/about/pic2-tab2x.jpg 2x
            "
            media="(min-width: 481px)"
          />
          <img class="about__img"
            srcset="
              ./images/rest-page/about/pic2-mob.jpg   1x,
              ./images/rest-page/about/pic2-mob2x.jpg 2x
            " src="
            ./images/rest-page/about/pic2-mob.jpg"
            alt="фото кухні2"
          />
        </picture>
        <p class="about__text--modif">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>

    <div class="swiper-kitchen-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture
              ><source
                srcset="
                  ./images/rest-page/about/slide1-desk.jpg   1x,
                  ./images/rest-page/about/slide1-desk2x.jpg 2x
                "
                media="(min-width: 1280px)" />
              <source
                srcset="
                  ./images/rest-page/about/slide1-tab.jpg   1x,
                  ./images/rest-page/about/slide1-tab2x.jpg 2x
                "
                media="(min-width: 481px)" />
              <img
                class="swiper-slide__img"
                srcset="
                  ./images/rest-page/about/slide1-mob.jpg   1x,
                  ./images/rest-page/about/slide1-mob2x.jpg 2x
                "
                src="./images/rest-page/about/slide1-mob.jpg"
                alt="Руки та борошно"
            /></picture>
          </div>
          <div class="swiper-slide">
            <picture
              ><source
                srcset="
                  ./images/rest-page/about/slide2-desk.jpg   1x,
                  ./images/rest-page/about/slide2-desk2x.jpg 2x
                "
                media="(min-width: 1280px)" />
              <source
                srcset="
                  ./images/rest-page/about/slide2-tab.jpg   1x,
                  ./images/rest-page/about/slide2-tab2x.jpg 2x
                "
                media="(min-width: 481px)" />
              <img
                class="swiper-slide__img"
                srcset="
                  ./images/rest-page/about/slide2-mob.jpg   1x,
                  ./images/rest-page/about/slide2-mob2x.jpg 2x
                "
                src="./images/rest-page/about/slide2-mob.jpg"
                alt="Манти"
            /></picture>
          </div>
          <div class="swiper-slide">
            <picture
              ><source
                srcset="
                  ./images/rest-page/about/slide3-desk.jpg   1x,
                  ./images/rest-page/about/slide3-desk2x.jpg 2x
                "
                media="(min-width: 1280px)" />
              <source
                srcset="
                  ./images/rest-page/about/slide3-tab.jpg   1x,
                  ./images/rest-page/about/slide3-tab2x.jpg 2x
                "
                media="(min-width: 481px)" />
              <img
                class="swiper-slide__img"
                srcset="
                  ./images/rest-page/about/slide3-mob.jpg   1x,
                  ./images/rest-page/about/slide3-mob2x.jpg 2x
                "
                src="./images/rest-page/about/slide3-mob.jpg"
                alt="Їжа та вино"
            /></picture>
          </div>
          <div class="swiper-slide">
            <picture
              ><source
                srcset="
                  ./images/rest-page/about/slide4-desk.jpg   1x,
                  ./images/rest-page/about/slide4-desk2x.jpg 2x
                "
                media="(min-width: 1280px)" />
              <source
                srcset="
                  ./images/rest-page/about/slide4-tab.jpg   1x,
                  ./images/rest-page/about/slide4-tab2x.jpg 2x
                "
                media="(min-width: 481px)" />
              <img
                class="swiper-slide__img"
                srcset="
                  ./images/rest-page/about/slide4-mob.jpg   1x,
                  ./images/rest-page/about/slide4-mob2x.jpg 2x
                "
                src="./images/rest-page/about/slide4-mob.jpg"
                alt="Сніданок на столі"
            /></picture>
          </div>
        </div>
        <div class="swiper-kitchen__buttons">
          <button type="button" class="swiper-button-prev kitchen-btn-prev">
            <svg width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button type="button" class="swiper-button-next kitchen-btn-next">
            <svg width="32" height="32">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
