<section class="restaurant-menu section"> 
    <div class="container">
    <h2 class="restaurant-menu__title" id="menu">МЕНЮ РЕСТОРАНУ</h2>

  <div class="restaurant-menu__type-dishes">
    <div class="restaurant-menu__type-dish">
            <div class="dishes-set-cover">
          <table class="table-dish" role="presentation">
              <caption class="restaurant-menu__subtitle">Гарячі страви</caption>
                  <tbody class="table-dish">
                                <include src="./partials/components/dish-template.html">{
                                    "title": "Борщ з телятини з квасолею ",
                                    "ingredients": "Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана",
                                    "weight": "400 г",
                                    "price": "240 грн"
                                }
                                </include>

                                <include src="./partials/components/dish-template.html">{
                                    "title": "Суп сирний з куркою",
                                    "ingredients": "Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень",
                                    "weight": "400 г",
                                    "price": "200 грн"
                                }
                                </include> 

                                <include src="./partials/components/dish-template.html">{
                                    "title": "Паста карбонара",
                                    "ingredients": "Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень",
                                    "weight": "350 г",
                                    "price": "430 грн"
                                }
                                </include> 

                                <include src="./partials/components/dish-template.html">{
                                    "title": "Стейк зі свинини",
                                    "ingredients": "Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами",
                                    "weight": "400 г",
                                    "price": "500 грн"
                                }
                                </include>

                                <include src="./partials/components/dish-template.html">{
                                    "title": "Горбуша в соусі з білого вина",
                                    "ingredients": "Ніжна горбуша, вершковий соус на основі білого вина",
                                    "weight": "400 г",
                                    "price": "400 грн"
                                }
                                </include>
                  </tbody>        
          </table>
        </div>

        <div class="dishes-set-cover">
          <table class="table-dish" role="presentation">
              <caption class="restaurant-menu__subtitle">Гарніри та закуски</caption>
                  <tbody>
                        <include src="./partials/components/dish-template.html">{
                            "title": "Запечені овочі",
                            "ingredients": "Кабачок, перець, помідор, баклажан",
                            "weight": "200 г",
                            "price": "230 грн"
                        }
                        </include>

                        <include src="./partials/components/dish-template.html">{
                            "title": "Картопля фрі",
                            "ingredients": "Картопля, соус томатний",
                            "weight": "150 г",
                            "price": "160 грн"
                        }
                        </include>

                        <include src="./partials/components/dish-template.html">{
                            "title": "Картопля по-селянськи",
                            "ingredients": "Картопля, спеції, соус пікантний",
                            "weight": "150 г",
                            "price": "160 грн"
                            }
                        </include>

                        <include src="./partials/components/dish-template.html">{
                            "title": "Хрумкі соління з бочки",
                            "ingredients": "Огірок солений, помідор квашений, квашена капуста, морква по-корейські",
                            "weight": "250 г",
                            "price": "350 грн"
                        }
                        </include>

                        <include src="./partials/components/dish-template.html">{
                            "title": "Крильця курячі в медовому соусі",
                            "ingredients": "Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз",
                            "weight": "400 г",
                            "price": "420 грн"
                        }
                        </include> 
                  </tbody>        
          </table>
        </div>
        </div>

        <div class="restaurant-menu__type-dish">
            <div class="dishes-set-cover">
          <table class="table-dish" role="presentation">
              <caption class="restaurant-menu__subtitle">Салати</caption>
                  <tbody class="table-dish">
                        <include src="./partials/components/dish-template.html">{
                            "title": "Цезар з куркою",
                            "ingredients": "Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар",
                            "weight": "230 г",
                            "price": "450 грн"
                        }
                        </include>
            
                        <include src="./partials/components/dish-template.html">{
                            "title": "Цезар з креветками",
                            "ingredients": "Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар",
                            "weight": "230 г",
                            "price": "300 грн"
                        }
                        </include>
                        
                        <include src="./partials/components/dish-template.html">{
                            "title": "Грецький салат",
                            "ingredients": "Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус",
                            "weight": "230 г",
                            "price": "280 грн"
                        }
                        </include>
                    
                        <include src="./partials/components/dish-template.html">{
                            "title": "М’ясний салат",
                            "ingredients": "Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч",
                            "weight": "230 г",
                            "price": "300 грн"
                        }
                        </include>
                  </tbody>        
          </table>
        </div>

        <div class="dishes-set-cover">
          <table class="table-dish" role="presentation">
              <caption class="restaurant-menu__subtitle">Десерти</caption>
                  <tbody>
                        <include src="./partials/components/dish-template--one-row.html">{
                            "title": "Торт наполеон",                            
                            "weight": "230 г",
                            "price": "300 грн"
                        }
                    </include>
                    
                        <include src="./partials/components/dish-template--one-row.html">{
                            "title": "Торт маковий",                            
                            "weight": "230 г",
                            "price": "300 грн"
                        }
                    </include>

                        <include src="./partials/components/dish-template--one-row.html">{
                            "title": "Тірамісу",                            
                            "weight": "120 г",
                            "price": "260 грн"
                        }
                    </include>
                  </tbody>        
          </table>
        </div>

        <div class="dishes-set-cover">
          <table class="table-dish" role="presentation">
              <caption class="restaurant-menu__subtitle">Напої</caption>
                  <tbody class="table-dish__body">
                        <include src="./partials/components/dish-template--one-row.html">{
                            "title": "Чай чорний/зелений",                            
                            "weight": "500 мл",
                            "price": "100 грн"
                        }
                    </include>
                
                    <include src="./partials/components/dish-template--one-row.html">{
                            "title": "Еспресо",                            
                            "weight": "30 мл",
                            "price": "100 грн"
                        }
                    </include>
                  

                            <include src="./partials/components/dish-template--one-row.html">{
                            "title": "Американо",                            
                            "weight": "150 мл",
                            "price": "100 грн"
                        }
                    </include>
                       
                        

    <include src="./partials/components/dish-template--one-row.html">{
                            "title": "Капучино",                            
                            "weight": "200 мл",
                            "price": "160 грн"
                        }
                    </include>

                        

    <include src="./partials/components/dish-template--one-row.html">{
                            "title": "Лате",                            
                            "weight": "200 мл",
                            "price": "160 грн"
                        }
                    </include>
</tbody>     
          </table>
        </div>

        </div>
  </div>
        <button class="btn-reserve-table js-open-modal button-service" type="button" data-modal="1">Забронювати столик</button>

    </div>
</section>