
<section class="room-section">
  <div class="container room-conditions">
    <h2 class="room-conditions__title">Зручності у номері</h2>
    <p class="room-conditions__description room-conditions__description--main">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
      consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    </p>

    <ul>
      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Загальні</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <p class="room-conditions__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>

      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Ванна кімната</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <p class="room-conditions__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>

      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Спальня</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          </p>
        </div>
      </li>

      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Кухня</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          </p>
          <p class="room-conditions__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          </p>
        </div>
      </li>

      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Медіа</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>

    <div class="room-btnlink">
      <button type="button" class="button button-order js-open-modal"  data-modal="2">
        Оформити бронювання
      </button>

      <a href="hotel.html" class="rooms-select"
        >Повернутися до перегляду номерів
        <svg class="icon-right" width="24" height="24">
          <use href="././images/icons.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>

