
<section class="room-section">
  <div class="container room-conditions">
    <h2 class="room-conditions__title">Зручності у номері</h2>
    <p class="room-conditions__description room-conditions__description--main">
      Просторий двомісний люкс, ідеальний для відпочинку, забезпечує максимальний комфорт та розкіш. Номер облаштований сучасними меблями та декоративними елементами, що створюють затишну атмосферу.
    </p>

    <ul>
      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Загальні</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            У номері є простора вітальня зона з великим диваном та кріслами, яка ідеально підходить для прийому гостей або відпочинку після насиченого дня. 
          </p>
          <p class="room-conditions__description">
            В наявності кондиціонер, сейф, міні-бар та безкоштовний Wi-Fi.
          </p>
        </div>
      </li>

      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Ванна кімната</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            Ванна кімната обладнана сучасною сантехнікою, укомплектована пухнастими рушниками, халатами та капцями.
          </p>
          <p class="room-conditions__description">
            Для вашої зручності надаються косметичні засоби преміум-класу.
          </p>
        </div>
      </li>

      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Спальня</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            Комфортне велике ліжко з ортопедичним матрацом, що забезпечує здоровий та спокійний сон. В наявності великий шафа для зберігання речей та телевізор з плоским екраном.
          </p>
        </div>
      </li>

      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Кухня</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            Міні-кухня оснащена всім необхідним для приготування їжі: електроплита, мікрохвильова піч, холодильник та посуд. 
          </p>
          <p class="room-conditions__description">
            В наявності також кавоварка та електричний чайник.
          </p>
        </div>
      </li>

      <li class="room-conditions__item">
        <h2 class="room-conditions__subtitle">Медіа</h2>

        <div class="description-section">
          <p class="room-conditions__description">
            Для вашого дозвілля в номері є плазмовий телевізор з супутниковими каналами, а також система домашнього кінотеатру для перегляду фільмів у високій якості.
          </p>
        </div>
      </li>
    </ul>

    <div class="room-btnlink">
      <button type="button" class="button button-order js-open-modal"  data-modal="2">
        Оформити бронювання
      </button>

      <a href="hotel.html" class="rooms-select"
        >Повернутися до перегляду номерів
        <svg class="icon-right" width="24" height="24">
          <use href="././images/icons.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>

