
  <section class="room=section">
    <div class="container">
        <ul class="room-condititons">
            <li class="room-condititons__item">
              <h2 class="room-condititons__title">Зручності у номері</h2>
              <p class="room-condititons__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
              </p>
            </li>
            <li class="room-condititons__item">
              <h2 class="room-condititons__title">Загальні</h2>
              <p class="room-condititons__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
              </p>
              <p class="room-condititons__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
              </p>
            </li>
            <li class="room-condititons__item">
              <h2 class="room-condititons__title">Ванна кімната</h2>
              <p class="room-condititons__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
              </p>
              <p class="room-condititons__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
              </p>
            </li>
            <li class="room-condititons__item">
              <h2 class="room-condititons__title">Спальня</h2>
              <p class="room-condititons__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
              </p>
            </li>
            <li class="room-condititons__item">
              <h2 class="room-condititons__title">Кухня</h2>
              <p class="room-condititons__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
              </p>
              <p class="room-condititons__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
              </p>
            </li>
            <li class="room-condititons__item">
              <h2 class="room-condititons__title">Медія</h2>
              <p class="room-condititons__description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit.
              </p>
            </li>
          </ul>
        </section>
      
        <button type="button">Оформити бронювання</button>
        <button type="button">Повернутися до перегляду номерів</button>  
    </div>
   